
#thumbnail-carousel {
    width: 80%;
}

.splide__slide img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 20px;
  }

  .splide__slide {
    opacity: 0.6;
  }
  
  
  .splide__slide.is-active {
    opacity: 1;
    border: none;
  }


  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .product-gallery {
    padding: 20px;
  }

  .product-detail {
    padding: 20px;
  }