{% extends 'shop/base.html' %}
{% load static %}
{% load embed_video_tags %}



{% block style %}
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock style %}
    

{% block title %}
    {{product.name}}
{% endblock title %}


{% block main %}
<div class="product">
    
    {% with galleries=product.galleries.all videos=product.videos.all %}
        
        {% if galleries|length > 1 %}
            
        
            
    <div class="product-gallery">
        <section
        id="main-carousel"
        class="splide"
        aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
        <div class="splide__track">
              <ul class="splide__list">
                
                {% for gallery in galleries %}
                <li class="splide__slide">
                    <img src="{{gallery.image.url}}" alt="{{gallery.image.name}}">
                </li>                   
                {% endfor %}
                
                
                {% for vid in videos %}
                <li class="splide__slide">
                    <!-- <img src="{% static 'img/youtube.png' %}" alt="youtube video">    -->
                     {% video  vid.url '600x600' %}
                </li>                   
                    
                {% endfor %}
                    
                    

              </ul>
        </div>
        </section>
        <section
        id="thumbnail-carousel"
        class="splide"
        aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
        <div class="splide__track">
              <ul class="splide__list">
                {% for gallery in galleries %}
                  <li class="splide__slide">
                      <img src="{{gallery.image.url}}" alt="{{gallery.image.name}}">
                  </li>
                  {% endfor %}

                  {% for vid in videos %}
                <li class="splide__slide">
                    <img src="{% static 'img/youtube.png' %}" alt="youtube icon">   
                </li>  
                {% endfor %}

              </ul>
        </div>
        </section>
    </div>

    {% elif galleries|length == 1 %}

    <div class="product-gallery">
        <img src="{{galleries.0.image.url}}" alt="{{galleries.0.image.name}}">
    </div>

    {% else %}
    <div class="product-gallery">
        <img src="{% static 'img/no_image.jpg' %}" alt="no image available">
    </div>
    {% endif %}
    {% endwith %}
    <div class="product-detail">
        <h2>
            <a href="{{product.category.get_absolute_url}}">
                {{product.category}}
            </a>
        </h2>
        <h1>{{product.name}}</h1>
        
        {% if variation %}
        <p>${{variation.price}}</p>
        {% else %}
        <p>${{product.variations.all.0.price}}</p>
        {% endif %}
            
        <p>{{product.short_description}}</p>

        <h3>Variations</h3>
        <div class="variations">
            
            {% for variety in product.variations.all %}
            <a href="{{variety.get_absolute_url}}">{{variety.name}}</a>               
            {% endfor %}
                
            
        </div>

        <p> 
        {% if variation %}
            {{variation.stock}}
        {% else %}
            {{product.variations.all.0.stock}}
        {% endif %}
             products available</p>

        <p class="cart-number">2 items selected</p>
        <form action="
        {% if variation %}
            {% url 'cart:cart_add' variation.id %}
        {% elif product.variations.all.0 %}
            {% url 'cart:cart_add' product.variations.all.0.id %}
        {% endif %}
            " method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>

        <div class="action">
            <a href="#">Buy now</a>
            <a href="#">Add to favorite</a>
        </div>

    </div>
</div>

<div class="description">
    {{product.description|safe}}
</div>

{% endblock main %}
    


{% block bottom %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="{% static 'js/productImageSlide.js' %}"></script>
{% endblock bottom %}
    